<!-- ko with: scoreboard -->
<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="well">
            <div class="caption">
                <p data-bind="text: bbbSport" />
                <h4 data-bind="text: bbbLine1" />
                <h4 data-bind="text: bbbLine2" />
                <h5 data-bind="text: bbbStatus" />
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="well">
            <div class="caption">
                <p data-bind="text: bbgSport" />
                <h4 data-bind="text: bbgLine1" />
                <h4 data-bind="text: bbgLine2" />
                <h5 data-bind="text: bbgStatus" />
            </div>
        </div>
    </div>
</div>
<!-- /ko -->
